/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

/* Header */
header {
    background: #2c3e50;
    color: #fff;
    padding: 20px 0;
}

.profile img {
    width: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
}

h1 span {
    color: #f39c12;
}

h2 {
    color: #2c3e50;
    margin-top: 20px;
}

/* Skills */
.skills ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}

.skills li {
    background: #3498db;
    color: #fff;
    padding: 8px 15px;
    margin: 5px;
    border-radius: 5px;
}

/* About Me */
.about-me p {
    max-width: 600px;
    margin: 1vw auto;
}

/* Projects */
.project-card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 20px ;
}

.project-link {
    display: inline-block;
    background: #e74c3c;
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    margin: 5px;
    border-radius: 5px;
}

.project-link:hover {
    background: #c0392b;
}

/* Blog */
.layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 3vw;
    max-width: 40%;
}

.card h3{
  font-size: 2vw;
}
.card p{
  font-size: 1vw;
}

.read-more {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #2c3e50;
    font-weight: bold;
}

.read-more:hover {
    color: #e74c3c;
}

/* Contact */
.contact-me ul {
    list-style: none;
    padding: 0;
}

.contact-me a {
    text-decoration: none;
    color: #2c3e50;
    font-weight: bold;
}

.contact-me a:hover {
    color: #e74c3c;
}

.smidia {
    display: flex;
    width: 30px;
    margin: 5px;
}

.smidia-github {
    width: 35px;
}

/* Leave Comment */
.leave-comment form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

.leave-comment input, 
.leave-comment button {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.leave-comment button {
    background: #27ae60;
    color: white;
    cursor: pointer;
}

.leave-comment button:hover {
    background: #219150;
}

/* Footer */
footer {
    background: #2c3e50;
    color: white;
    padding: 10px;
    margin-top: 20px;
}


